
.valid{
	border: 2px solid green;
}

h5{
	color: #337ab7;
}
.error{
	color:#337ab7;
	font-size:15px;
	margin-top:5px;
	
}

.text-top{
    padding-top: 20px;
    padding-bottom: 15px;
    color: rgb(250,144,0);
    text-align: center;
}

.text-middle h4{
	font-size: 20px;
	font-color: #111;
	font-weight: bold;
	
}
.text-middle{
    line-height: 32px;
    padding: 15px 25px 17px 25px;
    text-align:center;
}

.navbox{
    background: rgb(250,144,0);
    padding: 5px ;
    line-height: normal;
    
}
.navbox p{
    text-align: center;
    font-weight: bold;
}
.navbox a{
    font-family: times new roman;
    text-decoration: underline;
}
.text-top h1{
    font-weight: bold;
}

.form-top-left {
    float: left;
    width: 75%;
}

.form-top-left h1{ 
    color: rgb(250,144,0); 
    font-weight: bold;
    text-align: center;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 50px;
    color: rgba(250,144,0,0.7);
    text-align: right;
}
.error_message{
	color:#337ab7;
}

.outer{
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.7);
    padding: 25px 25px 10px 25px;
    margin-top: 40px;
    width: 90%;
    position: relative;
    margin-left: -30px;
}


.textouter{
    box-shadow: -9px 0 20px 0px rgb(0,0,0);
    margin-top: 90px;
}

form label{
    color: rgb(250,144,0);
    font-family: times new roman;
    font-weight: bold;
    margin-left: 5px;
    font-size: 20px;
}

form .btn:hover{
    background: #337ab7;
}

form .btn:active{
	background: #337ab7;
}

.login-end .btn:hover{
    background: #337ab7;
}

form .btn{
    background: rgb(250,144,0);
    border: none;
    height: 38px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: times new roman;
}

.login-end .btn{
    background: rgb(250,144,0);
    margin-left: 5px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    border: none;
}

input[type="email"],input[type="password"],input[type="text"]{
    height: 35px;
    border-radius: 15px;
    margin-bottom: -6px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus {
    border: 3px solid #ccc;
}

.login-end a,a:focus,a:active{
    outline: none;
}

.login-end{
    padding-top: 10px;
    
}



	/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }