h1,h3,p{
			text-align:center;
		}
		h1{
			font-weight:bold;
			
		}
		.outer{
			box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.7);
			padding: 25px 25px 10px 25px;
			margin-top:100px;
		}
		hr{
			border:2px solid black;
		}
		.btn{
			background:rgb(250,144,0);
			border:none;
		}
		#log{
			position:absolute;
			left:500px;
		}