.user_details{
			margin-top: 100px;
		}
/* navbar */

.navbar-header b{
	color:rgb(250,144,0);
	font-size: 25px;
	
}
#myNavbar ul li{
	font-size: 17px;
}

.search{
	width:390px;
}

.navbar-btn .btn-danger{
	background: rgb(250,144,0);
	border: none;
}
.dropdown img{
	margin-top: -6px;

	width:30px;

}

/*navbar*/



/*Notification*/
	.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}


/*Notification end*/

body{
	background: #FAFAFA;		
}

.btn:focus{
	outline: none !important;
	}

a:focus{
	outline:none !important;
	}

#myModal .modal-body textarea{
	font-size:25px;
	font-weight:bolder;
	font-family:verdana;
}


.side_bar{
	margin-top: 70px;
	line-height: 40px;
	
}
.side_bar h4{
	color:#444;
	font-weight: bold;
}
.side_bar a{
	color:#555;
	font-size:15px;
	font-family: 'Domine', serif;
}
.side_bar a:hover{
	color:#22b7af;
}


/* Home Page*/

.middle_section{
	margin-top: 80px;
}

.question_space{
	padding: 15px 15px 20px 15px;
	border-radius: 5px;
	background:#fff;
	border:1px solid lightblue;;
}

.question_space h5 a{
	color:#555;
	text-decoration: underline;
}

.question_space h3 a{
	color:#555;
	font-weight: bold;
}
.question_space h3 a:hover{
	color:#22b7af;
}
.question_space h5 a:hover{
	color:#22b7af;
}
.question_space h5 b{
	font-size: 15px;
}
.question_list{
	background:#fff;
	border:1px solid lightblue;
	padding: 10px;
	margin-top: 8px;
	border-radius: 5px;
}

.question_list h5{
	color: #777;
}
.question_list h5 a{
	color:#444;
	text-decoration: underline;
}

.question_list h5 a:hover{
	color:#22b7af;
}
.question_list h3 a{
	color:#222;
}
.question_list h3 a:hover{
	color:#22b7af;
}

.question_list .btn{
	
	border: none; 
	margin-top: 10px;
}

.quesvotes .up{
	background: #eeeeeea4;
	font-size: 18px;
	padding: 10px 10px 10px 10px;
	border-radius:20px;
	color:#444;
}

.quesvotes .down{
	border-radius:20px;
	background: #eeeeeea4;
	font-size: 18px;
	padding: 10px 10px 10px 10px;
	color:#444;
}

.quesvotes .flags{
	border-radius:20px;
	background: #eeeeeea4;
	font-size: 18px;
	padding: 10px 10px 10px 10px;
	color:#444;
}

/* Home Page End*/






/* Answer Page*/
.ques h2{
	color:#444;
	font-weight: bold;
	font-size: 30px;
}
.answer_space h4{
	color:#444;
}

.ques{
	margin-left: 20px;
	
	margin-bottom: 5px;
	
}

.post_here .btn{
	background: rgb(250,144,0);
	border: none;
	margin-top: 10px;
}

.questionmessage{
	padding: 10px;
}

.questionmessage h3{
	font-weight: bold;
	
}
.post_here textarea{
	font-size:20px;
	margin-top:20px;
	border-radius:25px;
	height: 50px;
}



.answer_post .btn{
	margin-left: 5px;
	color:#666;
}
.div_txtarea_answer textarea{
	margin-top: 10px;
	border-radius: 15px;
	width: 600px;
}

.comment_list{
	padding: 10px;
	border-radius: 5px;
	background:#fff;
	border:1px solid lightblue;
	margin-bottom: 10px;
	margin-top: 15px;
}

.answer_space{
	padding: 10px 10px 15px 10px;
	border-radius: 5px;
	background:#fff;
	border:1px solid #EFEFEF;
}

.answer_space h5{
	color:#888;
}

.answer_space h5 a{
	color:#888;
	text-decoration: underline;
}
.answer_space h5 a:hover{
	color:#2B6DAD;

}


.answer_list{
	margin-top: 20px;
	
}
.answer_list h5{
	font-family: 'Slabo 27px', serif;
	color: #888;
}

.answer_list h5 a{
	color:#666;
	text-decoration: underline;
}

.answer_post p{
	
	
	padding-left: 20px;
	
	font-size: 20px;
}

.comment_list{
	margin-top: 2px;
}

.up_down .ansup{
	margin-left: 200px;	
	font-size: 20px;
}
.up_down .ansdown{
	margin-left: 200px;
	font-size: 20px;
}
.up_down{
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 15px;
}



/*notification page*/

.titlenotify h3{
	font-weight: bold;
	margin-left: 100px;
}

/*notification page end*/








/*Answer Page End*/

/*User profile*/



/*User profile end*/

