.btn{
	background:rgb(250,144,0);
	border:none;
}
.outer h2{
	font-weight:bold;
	color:rgb(250,144,0);
}

.outer b{
	color:#337ab7;
}

.outer .head{
	
	color:rgb(250,144,0);
}

body{
	text-align:center;
	font-family:times new roman;
	line-height:normal;
}

 h1{
	font-weight:bold;
	
}
.outer{
	box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.7);
	 padding: 25px 25px 10px 25px;
	 margin-top:100px;
}
.outer i{
	font-size:66px;
}
hr{
	border:2px solid #000;
}